!!!
%html
%body
  %p This data comes from #{post_count} missed connection posts in and around Portland, OR posted between #{earliest_date} and #{latest_date}.


%img{:src => "#{word_freq_graph}"}  

%img{:src=> "#{who4who_graph}"}
