!!!
%html
%body
  %p This data comes from #{post_count} missed connection posts in and around Portland, OR posted between #{earliest_date} and #{latest_date}.

%p The most commonly used (non-utility) words are:
%ul
  %li #{common_word("first")}, being used #{common_word_count("first")} times.
  %li #{common_word("second")}, being used #{common_word_count("second")} times.
  %li #{common_word("third")}, being used #{common_word_count("third")} times.
  %li #{common_word("fourth")}, being used #{common_word_count("fourth")} times.

%p #{count("m4m")} of the #{post_count} posts were from men seeking men.
%p #{count("m4w")} were from men seeking women.  
%p #{count("w4w")} were from women seeking women.  
%p #{count("w4m")} were from women seeking men.
%p The rest did not specify.  
